{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "container">
<div class="row">
    <div class="col-md-12">
        <div id="jewellery" class="Jewellery-bg">
            <h3>{{ category.categoryName}}</h3>
            <div class="row">
                {% for p in products  %}
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                    <div class="Jewellery-box">
                        <h5>Sale</h5>
                        <i><img src="{{ p.image.url }}"/>
                        </i>
                        <h4>Price $<span class="nolmal">100</span></h4>

                    </div>
                    <a class="buynow" href="{{ p.get_absolute_url }}">Buy now</a>
                </div>
                {% endfor %}
            
               
                
                
            </div>
        </div>
       
    </div>
</div>
</div>

{% endblock content %}
