{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="jewellery" class="Jewellery-bg">
                <h3>New Jewellery</h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <h5>Sale</h5>
                            <i><img src="{% static 'icon/j1.png' %}"/>
                            </i>
                            <h4>Price $<span class="nolmal">100</span></h4>

                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j2.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j3.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j4.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="jewellery" class="Jewellery-bg">
                <h3>New Jewellery</h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <h5>Sale</h5>
                            <i><img src="{% static 'icon/j1.png' %}"/>
                            </i>
                            <h4>Price $<span class="nolmal">100</span></h4>

                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j2.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j3.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j4.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="jewellery" class="Jewellery-bg">
                <h3>New Jewellery</h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <h5>Sale</h5>
                            <i><img src="{% static 'icon/j1.png' %}"/>
                            </i>
                            <h4>Price $<span class="nolmal">100</span></h4>

                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j2.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j3.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="{% static 'icon/j4.png' %}"/></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Buy now</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

{% endblock body %}
