{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- body -->

<body class="main-layout">
    {% csrf_token %} 
    <!-- loader  -->
      <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
    </div>

    <div class="wrapper"> 

        <!-- end loader -->
        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#T-shirt">T-shirt</a>
                    </li>
                    <li>
                        <a href="#shoes">Shoes</a>
                    </li>
                    <li>
                        <a href="#jewellery">Jewellery</a>
                    </li>
                    <li>
                        <a href="#kids">Kids and Babies</a>
                    </li>
                </ul>

            </nav>
        </div>

        <div id="content">
            
                    
            <!-- Categories -->
            <div class="Categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2> Categories</h2>
                                <ul class="categiri">
                                    
                                    {% for c in categories  %}
                                    <li> 
                                        <a href = '{{ c.get_absolute_url}}'> {{ c.categoryName |title }}</a>
                
                
                                    </li>
                                    
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- news brand -->
                    <div id="T-shirt"  class="brand-bg">
                        <h3>CATEGORIES</h3>
                        <div class="row">
                            {% for c in categories  %}
                                  
                                    
                                  
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                <div class="brand-box">
                                    <h5>{{ c.categoryName | title}}</h5>
                                    <i><img src="{{ c.image.url }}"/>
                                </i>
                                    <h4>Price $<span class="nolmal">100</span></h4>

                                </div>
                                <a class="buynow" href="{{ c.get_absolute_url }}">See More</a>
                            </div>  
                            
                            {% endfor %}
                            
                            
                            
                        </div>
                    </div>
                    <a class="seemore" href="{% url 'product:brand' %}">See more</a>
                    <!-- end news brand -->
                </div>
                   

{% endblock content %}